/* colonne des posts 75% */
.colonegauche {
  float: left;
  width: 75%;
  padding-left: 10px;
}

.colonegauche p {
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.colonegauche p.shortened {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.colonegauche h2 {
  font-family: "Share Tech", sans-serif;
  padding-bottom: 20px;
}

.colonegauche h5 {
  font-family: "Share Tech", sans-serif;
}

.colonegauche h5 {
  font-family: "Share Tech", sans-serif;
}

/* image des posts */
.imgpost {
  padding: 10px;
  width: 100%;
}
/* contenair des posts*/
.container {
  text-align: center;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  padding: 40px;
  margin-top: 20px;
  background-color: rgba(47, 79, 172, 0.28);
}

.container:hover {
  border: 1px solid rgba(0, 80, 252, 0.72);
}

.social {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
}

.social p {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5px;
}

.icon-like {
  margin-left: 20px;

}

.fa-solid{
  margin-left:10px;
  color: rgb(255, 255, 255);
}

.fa-solid:active{
  color: rgb(255, 0, 0);
  transform: rotateX(7deg) translateY(-4px) scale(1.05);
}
.fa-solid:visited{
  color: rgb(255, 0, 0);
}

.icon-comms {
  margin-right: 20px;
  color: rgb(0, 255, 76);
}

/* colonne de droite a propos, follow me popular post*/
.colonedroite {
  position: sticky;
  top: 0;
  float: left;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.colonedroite h2 {
  font-family: "Share Tech", sans-serif;
  position: relative;
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
}

.colonedroite p {
  position: relative;

  color: rgb(248, 248, 248);
}

.colonedroite h3 {
  font-family: "Share Tech", sans-serif;
  position: relative;
  margin-bottom: 70px;
  color: rgb(255, 255, 255);
  margin: 10px;
}

/* image aboutme */
.img1 {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./avatar.png);
  background-position: top;
  border-radius: 100%;
  width: 89px;
  max-height: 89px;
  padding: 20px;
  margin-right: 30px;
}

/* image ancien post */
.img2 {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgb(2, 102, 44);
  width: 80px;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.img3 {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgb(99, 2, 102);
  width: 80px;
  padding: 20px;
  margin-bottom: 10px;
}

.img4 {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgb(208, 167, 4);
  width: 80px;
  padding: 20px;
}

/* contenu vide apres le dernier post*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
