
 .container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
  }

img{
  width: 150px;    
  }

.navbarb{
margin-top: 10px;
margin-bottom: 10px;
}

#btnaccueil{

  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.061);
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.622);
  padding-left: 10px;
  padding-right: 10px;
}

#btnnewpost{
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.061);
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.622);
  padding-left: 10px;
  padding-right: 10px;
}

.container h2{
  margin: 10px;
  text-align: center;
}

table, th, td {
    padding: 10px;
    border: 2px solid rgb(103, 103, 103);
    background-color: rgba(240, 248, 255, 0.645);
    border-collapse: collapse;
  }
  
  
  .titre{
    margin-left: 20px;
  }
  
  .textcont{
  resize: none;
  }

p.short{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  a.btn {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(109, 109, 109);
    border: solid 1px #383838;
    border-radius: 20px;
    text-decoration: none;
  }
  a.btn.btn-active {
    background-color: rgb(0, 67, 162);
    text-decoration: none;
  }

  a.btn.btn-success {
    background-color: rgb(0, 162, 57);
    text-decoration: none;
  }
  
  a.btn.btn-danger {
    background-color: rgb(185, 4, 4);
    text-decoration: none;
  }
  
  a.btn:hover {
  opacity: 80%;
  color: black;
  }

  .control{

    text-align: center;
  }