@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: #0332bfa2;
  color: white;
}

a:active {
  color: rgb(37, 106, 255);
  background-color: rgba(0, 80, 252, 0.305);
  transform: rotateX(3deg) translateY(-3px) scale(1.01);
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 500ms ease-out;
}

html {
  background-color: rgb(251, 251, 251);
}

.error {
  color: white;
}

body {
  font-family: "Share Tech", sans-serif;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 300px;
  background: #010a268c;
  border: 1px solid rgba(248, 248, 248, 0.418);
  border-radius: 10px;
}

.header {
  position: relative;
}

header img {
  image-rendering: crisp-edges;
}

.header img {
  z-index: 1;
  opacity: 90%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(248, 248, 248, 0.418);
  backdrop-filter: blur(10px);
}



.header h1 {
  font-size: 50px;
}

/* barre de menu */
.topnav {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 10px;
}


/* button menu */
.topnav a {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  color: rgba(255, 255, 255, 0.646);
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid rgba(248, 248, 248, 0.418);
  background: rgba(47, 70, 172, 0.646);
  backdrop-filter: blur(10px);
}

.topnav a:nth-child(2) {
  
  height: 30px;

}
.topnav a:nth-child(3) {
  float: right;
  
}


/* couleur menu au survol */
.topnav a:hover {
  border: 1px solid rgba(248, 248, 248, 0.653);
}

/* colonne des posts 75% */
.colonegauche {
  float: left;
  width: 75%;
  padding-left: 10px;
}

.colonegauche p {
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.colonegauche p.shortened {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

.colonegauche h2 {
  font-family: "Share Tech", sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}

.colonegauche h5 {
  font-family: "Share Tech", sans-serif;
}

.colonegauche h5 {
  font-family: "Share Tech", sans-serif;
}

/* contenair des posts*/
.container {
  text-align: center;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(248, 248, 248, 0.418);
  padding: 40px;
  margin-top: 20px;
  background-color: rgba(47, 76, 172, 0.646);

}

.container:hover {
  border: 1px solid rgba(248, 248, 248, 0.72);
}

.social {
  background-color: rgba(0, 0, 0, 0.296);
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid rgba(248, 248, 248, 0.418);
}

.social p {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 8px;
  margin-top: 3px;
}

.icon-like {
  margin-left: 20px;
}

.link-post a{
  padding-right: 20px;
  text-decoration: none;
}

.fa-solid{
  margin-left:10px;
  color: rgb(255, 255, 255);
}

.fa-solid:active{
  color: rgb(255, 0, 0);
  transform: rotateX(7deg) translateY(-4px) scale(1.05);
}
.fa-solid:visited{
  color: rgb(255, 0, 0);
}

/* colonne de droite a propos, follow me popular post*/
.colonedroite {
  position: sticky;
  top: 0;
  float: left;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.colonedroite h2 {
  font-family: "Share Tech", sans-serif;
  position: relative;
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
}

.colonedroite p {
  position: relative;

  color: rgb(248, 248, 248);
}

.colonedroite h3 {
  font-family: "Share Tech", sans-serif;
  position: relative;
  margin-bottom: 70px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

/* image aboutme */
.img1 {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./avatar.png);
  background-position: top;
  border-radius: 100%;
  width: 89px;
  max-height: 89px;
  padding: 20px;
  margin-right: 30px;
}



/* contenu vide apres le dernier post*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

















/* LIRE POST */

.container2 {
  position: relative;
  margin: auto auto;
  color: white;
  text-align: center;
}

.container2 h2 {
  font-size: 40px;
  padding-bottom: 20px;
}

.container2 h5 {
  font-size: 18px;
  padding: 20px;
}
.container2 img {
  padding: 20px;
}
/* LIRE POST */

.social2 p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  padding: 5px;
  background-color: rgba(47, 79, 172, 0.28);
}

.fa-brands {
  padding: 20px;
  color: white;
}

.fa-brands:hover {
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 500ms linear;
}

.containerpopular {
  background-color: rgba(0, 0, 0, 0.296);
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  padding: 5px;
  margin-bottom: 10px;
}

.containerpopular:hover {
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 500ms linear;
}
.titrepop {
  top: 5px;
  text-align: center;
}

.imgpost {
  padding-top: 20px;
  width: 70%;
  height: auto;
}

.imgpost2 {
  width:80%;
  height: auto;
}

.lienpop {
  margin-bottom: 10px;
}

/* Footer */
.footer {
  z-index: 1;
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
  background: rgba(47, 79, 172, 0.28);
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  margin-top: 20px;
}

.footer:hover {
  border: 1px solid rgba(0, 80, 252, 0.72);
  backdrop-filter: blur(10px);
}
