/* Responsive: si la fenetre fait moins de 768px modifier ces valeurs:  */
@media screen and (max-width: 768px) {
  .header h1 {
    font-weight: 100;
    top: 10%;
    left: 20%;
    color: white; /*  TODO */
  }

  .colonegauche,
  .colonedroite {
    width: 100%;
    padding: 0;
    padding: 10px;
  }

  .colonedroite {
    margin-top: -20px;
  }

  .colonedroite h3 {
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
  }
  .colonedroite .img2,
  .img3,
  .img4 {
    width: 80px;
    height: 60px;
    margin: 10px;
    left: 20%;
  }

  .fa-brands{
    padding-left: 20px;
    padding-right: 20px;
  }
}
