/* Responsive: si la fenetre fait moins de 768px modifier ces valeurs:  */
@media screen and (max-width: 768px) {

  .colonegauche,
  .colonedroite {
    width: 100%;
    padding: 0;
    padding: 10px;
  }

  .container2{
    width: 400px;

    max-width: 768px;
    padding-top: 100px;
  }

  .social2 p {
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid rgba(0, 80, 252, 0.418);
    padding: 5px;
    background-color: rgba(47, 79, 172, 0.28);
  }

  .colonedroite {
    margin-top: -20px;
  }

  .colonedroite h3 {
      text-align: center;
      width: 100%;
  }
  .colonedroite .img2,
  .img3,
  .img4 {
    width: 80px;
    height: 60px;
    margin: 10px;
    left: 20%;
  }

  .fa-brands{
    padding-left: 20px;
    padding-right: 20px;
  }

}
