@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: #0332bfa2;
  color: white;
}


a:active{
  color: rgb(37, 106, 255);
  background-color:rgba(0, 80, 252, 0.305);
  transform: rotateX(3deg) translateY(-3px) scale(1.01);
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 500ms ease-out;
}


html {
  background-color: black;
}

.error {
  color: white;
}

body {
  font-family: "Share Tech", sans-serif;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 300px;
  background: #010a26;
  border: 1px solid rgba(0, 80, 252, 0.418);
}

.header {
  position: relative;
}


header img{
  image-rendering: crisp-edges;
}


items1 img{
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 500ms ease-out;
  margin: 10px;
  height: 200px;
  width: 300px;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  backdrop-filter: blur(10px);
  
}

items1 img:hover {
  transform: rotateX(7deg) translateY(-6px) scale(1.05);

}



items2 img{
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 500ms ease-out;
  margin: 10px;
  height: 200px;
  width: 300px;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  backdrop-filter: blur(10px);
}

items2 img:hover {
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

items3 img{
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 500ms ease-out;
  margin: 10px;
  height: 200px;
  width: 300px;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  backdrop-filter: blur(10px);
}

items3 img:hover {

  transform: rotateX(7deg) translateY(-6px) scale(1.05);

}

.header img {
  z-index: 1;
  opacity: 90%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  backdrop-filter: blur(10px);
}

.header h1 {
  font-size: 50px;
}

/* barre de menu */
.topnav {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 10px;
}

/* button menu */
.topnav a {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  color: rgba(0, 80, 252, 0.829);
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  background: #010a2654;
  backdrop-filter: blur(10px);
 
}

/* couleur menu au survol */
.topnav a:hover {
  border: 1px solid rgba(0, 80, 252, 0.905);
}

.fa-brands {
  padding: 10px;
}

/* LIRE POST */

.container2{
  position: relative;
  margin: auto auto;
  color: white;
  text-align: center;
}

.container2 h2{
 font-size: 30px;
 padding-bottom: 20px;


}

.container2 h5{
  font-size: 18px;
  padding: 20px;

 }
 .container2 img{
  padding: 20px;

 }
/* LIRE POST */


.social2 p{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 800px;
  border-radius: 30px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  padding: 5px;
}


.containerpopular{
  background-color: rgba(0, 0, 0, 0.296);
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  padding: 5px;
  margin-bottom: 10px;
}

.titrepop {

  top: 5px;
  text-align: center;
}

.imgpost{
  width: auto;
  height:auto;

}

.lienpop{
  margin-bottom:10px;
}




/* Footer */
.footer {
  z-index: 1;
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
  background: rgba(47, 79, 172, 0.28);
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  margin-top: 20px;
}

.footer:hover {
  border: 1px solid rgba(0, 80, 252, 0.72);
  backdrop-filter: blur(10px);
}
