@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*::selection{
  background-color: rgb(65, 48, 107);
  color: white;
}

html {
  background-color: black;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Share Tech", sans-serif;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 300px;
  background: #010a26;
}

.header{
  position: relative;
}

.header h1 {
  font-family: "Share Tech", sans-serif;
  z-index: 2;
  position: absolute;
  font-weight: 600;
  top: 40%;
  left: 20%;
  color: white;  /*  TODO */

}

.header img {
  z-index: 1;
  opacity: 80%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  backdrop-filter: blur(10px);
}

.header h1 {
  font-size: 50px;
}

/* barre de menu */
.topnav {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 10px;
}

/* button menu */
.topnav a {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  color: rgba(0, 80, 252, 0.829);
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  background: #010a2654;
  backdrop-filter: blur(10px);
}

/* couleur menu au survol */
.topnav a:hover {
  border: 1px solid rgba(0, 80, 252, 0.905);
  color: rgb(0, 80, 252);
}

.fa-brands{
  padding: 10px;
}

/* Footer */
.footer {
  z-index: 1;
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
  background: rgba(114, 83, 176, 0.28);
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  margin-top: 20px;
}

.footer:hover {

  border: 1px solid rgba(0, 80, 252, 0.72);
  backdrop-filter: blur(10px);
}
