@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: #0332bfa2;;
  color: white;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Share Tech", sans-serif;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
    background: #010a26;
  min-width: 300px;
  border: 1px solid rgba(0, 80, 252, 0.418);
}


/* barre de menu */
.topnav {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 10px;
}

/* button menu */
.topnav a {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  color: rgba(0, 80, 252, 0.829);
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  background: #010a2654;
  backdrop-filter: blur(10px);
}

/* couleur menu au survol */
.topnav a:hover {
  border: 1px solid rgba(0, 80, 252, 0.905);
  color: rgb(0, 80, 252);
  background-color:rgba(0, 80, 252, 0.108);
}

.forms{
	text-align: center;
}

.myform{
	color: white;
}

.forms input{
  
  border: 2px solid rgba(0, 80, 252, 0.905);
  border-radius: 10px;
  outline: none;
  padding: 0 20px;
  margin: 20px;
  font-size: 17px;
}


.forms label{
  position: absolute;
  left: 799px;
  text-transform: capitalize;
  font-size: 18px;
  transition: top .5s;
  padding: 0 5px;
  pointer-events: none;
}



span{
  color: #fff;
}




/* Footer */
.footer {
  z-index: 1;
  position: relative;
  color: white;
  padding: 20px;
  text-align: center;
background-color: rgba(47, 79, 172, 0.28);
  border-radius: 10px;
  border: 1px solid rgba(0, 80, 252, 0.418);
  margin-top: 20px;
}

.footer:hover {
  border: 1px solid rgba(0, 80, 252, 0.72);
  backdrop-filter: blur(10px);
}
